@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  width: 100%;
  margin: 1rem 5rem ;
}

.titlesite{
  color: yellow;
  font-weignt: bold;
  text-align: center;
  font-size: 5rem;
  position: relative;
  left: 7rem;
}