.head{
    margin: 4rem 1rem 4rem 23rem;
    
}

button{
    font-size: 20px;
    border: 1px solid red;
    padding: 25px;
    margin-bottom: 1.5rem;
}

.title1{
    padding: 1rem 8rem;
    font-size: 2rem;
    color: #fff;
}

.direct, .producer{
    color: #fff;
    font-size: 1.4rem;
}

.descrip{
    color: #fff;
    font-size: 1.4rem;
}

.character, .planet, 
.species, .starships,
.vehicles{
    color: #fff;
}

hr{
    border: 2px solid #fff;
}