.App {
   background-image: linear-gradient(rgb(248, 32, 68),rgb(252, 188, 70));
   height: 100vh;
}

.search_container{
  padding: 3rem 10rem;
}

.search{
  width: 100%;
  padding: 15px 35px;
  margin: 6px 0;
  font-size: 1.2rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

Table{
  margin: 2rem 10rem;
}